.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header {
    background-color: #333;
    color: #fff;
    padding: 0%;
    text-align: center;
    margin-bottom: 0%;
}

footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 3%;
    width: 100%;
}

.itemform {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 2%;
    margin: 0% 25% 3% 10%;
    /*top-right-bottom-left*/
}


.enunciado-pregunta{
    width: 75%;
    margin-bottom: 1%;
    font-size: medium;
    text-align: center;
}

.op-respuesta{
    width: 20%;
    text-decoration: solid;

}

.new{
    width: 100%;
    background-color: #283747;
    text-align: center;
    color: #fff;
    font-size: medium;
}

/* Estilos para el contenedor del formulario generado */
.genform {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 1%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.ing-respuesta{
    margin: 0%;
    width: 15%;
    height: 5%;
    
}
